@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
  --black: #333;
  --white: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.logo {
  position: relative;
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

