* {
    margin: 2%;
    padding: 0;
    box-sizing: border-box;
    z-index: -1;
    font-family: @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
        
}

img {
    position: absolute;
    margin: 5%;
    border-radius: 1%;
    z-index: -1;
}


body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: rgb(218, 158, 39);
    z-index: -1;
    }

div {
    z-index: -1;
}

h1 {
    margin-left: 400px;
    margin-right: auto
}
aside {
    float: right;
    
}


